{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block subtitle %}| Área da Escola{% endblock %}
{% block body %}

    <br>
    <div class="box-cards col-md-4" style="margin-top: 5%;">
        
        <h3 class="col-md-12" style="display:block; margin: 0 auto; text-align: center;">Login da escola</h3>
        {{form.errors}}
        <form method="POST" style="margin-top: 3%;"> {% csrf_token %}
    
            <div class="form-group">
                <label>Usuário *</label>
                <input class="form-control" name="username" type="text" placeholder="Seu nome de usuário">
            </div>
    
            <div class="form-group">
                <label>Sua senha *</label>
                <input class="form-control" name="password" type="password" placeholder="Informe sua senha">
            </div>

            <button type="submit" class="btn btn-primary col-md-12" id="btnRegister">Entrar</button>

            <hr>

            <div id="option-login" class=" col-md-12" style="display:flex; justify-content: center;">
            
                <a class="btn btn-warning btn-sm" href="{% url 'accounts:school_register' %}" style="width: 40%;color: #272525; margin-right: 10px; font-size: 14px;">
                    Cadastrar Escola
                </a>
                
                <a class="btn btn-warning btn-sm" href="{% url 'accounts:teacher_register' %}" style="width: 40%;color: #272525; font-size: 14px;" >
                    Cadastrar Professor
                </a>


            </div>

        </form>
    
    </div>
    
{% endblock %}