{% extends 'base.html' %}
{% block subtitle %}| Painel da escola{% endblock %}
{% block body %}

    <br>
    <div class="dashboard col-md-10">
        <div class="group-cards col-md-12 row">

            <a href="{% url 'school:list_teachers' %}" class="col-md-4 col-sm-12">
                <div class="card">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <br>
                    <label>Professores</label>
                </div>
            </a>    


            <a href="#" class="col-md-4 col-sm-12">
                <div class="card">
                    <i class="fas fa-child"></i>
                    <br>
                    <label>Alunos</label>
                </div>
            </a>

            <a href="{% url 'school:subjects' %}" class="col-md-4 col-sm-12">
                <div class="card">
                    <i class="fas fa-th-list"></i>
                    <br>
                    <label>Matérias</label>
                </div>
            </a>

            <a  href="{% url 'school:class_room' %}" class="col-md-4 col-sm-12">
                <div class="card">
                    <i class="fas fa-th-large"></i>
                    <br>
                    <label>Turmas</label>
                </div>
            </a>

            <a href="#" class="col-md-4 col-sm-12">
                <div class="card">
                    <i class="fas fa-book"></i>
                    <br>
                    <label>Atividades</label>
                </div>
            </a>

            <a href="#" class="col-md-4 col-sm-12">
                <div class="card">
                    <i class="fas fa-book-reader"></i>
                    <br>
                    <label>Provas</label>
                </div>
            </a>

        </div>

    </div>

{% endblock %}