@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

*{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}
body {
    text-decoration: none;
    outline: none;
    color: black;
}
body a:hover{
    text-decoration: none;
    outline: none;
    color: black;
}


body{
    color: #797979;
	background: #eaeaea;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}

input,button,label{
    font-family: 'Ruda', sans-serif;
}

/* header */
.header{
    padding: 15px;
}

.header .logo{
    color: white;
    font-size: 25px;
    font-weight: 900;
}
.header .logo span{
    color: #ffcf00;
}


.content{
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/background-lamp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
}


.box-cards{
    background-color: white;
    border-radius: 5px;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}


.dashboard{
    border-radius: 5px;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px;
}


.card-size70{
    width: 60%;
}
.card-size80{
    width: 80%;
}


h3{
    color: gray;
    font-weight: 900;
    font-size: 30px;
    display: inline; 
}

.dashboard .group-cards2X2{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    padding-top: 2%;
    
}
.dashboard .group-cards{
    /* display: grid; */
    /* grid-template-columns: 30% 30% 30%; */
    justify-content: center;
    
}


.dashboard .card{
    cursor: pointer;
    border: solid 1px gray;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 2%;
    font-size: 21px;
    color: gray;
    border-radius: 5px;
    padding: 40px;
    transition: background-color 0.4s, padding 1s, border 1s;
    background-color: white;
}

.card label:hover{
    cursor: pointer;
}

.dashboard .card:hover{
    background-color: black;
    opacity: 0.85;
    color: whitesmoke;
}

/* backgrounds */
.bg-black{
    background: #22242a;
    border-bottom: 1px solid #393d46;
}



